
GiaoHangTietKiem/.vs/GiaoHangTietKiem/config/applicationhost.config
GiaoHangTietKiem/Common1/obj/Debug/Common1.csproj.AssemblyReference.cache
GiaoHangTietKiem/Common1/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
GiaoHangTietKiem/GiaoHangTietKiem/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
GiaoHangTietKiem/GiaoHangTietKiem/obj/Debug/GiaoHangTietKiem.csproj.AssemblyReference.cache
GiaoHangTietKiem/GiaoHangTietKiem/Web.config
